
</br></br><h3><%= "Welcome #{@current_user.username}" %></h3>
<p><%= "You have #{@current_user.fabrics.count} fabrics in your collection!" %></p></br></br>


<!-- SHOW LATEST FABRICS -->
<h5> YOUR LATEST FABRICS ADDED</h5></br>


<div class="card-deck">

    <% @fabrics.each do |fabric| %>
        
        <div class="col-sm-6 col-md-4 col-lg-3">
		  <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= fabric.image%>">
		    <div class="card-body">
		      <h5 class="card-title"><%= fabric.fabric_name%></h5>
		      <p class="card-text"><%= fabric.fabric_description%></p>


<!--               Listing fibre types -->
		      <p class="card-text"><small class="text-muted">Composition: 
				      	
				      	<% fabric.fibre.each do |fibre| %>
				      		<%=fibre %>
				      	<%end%>
			  </small></p>


<!--               Listing colours -->
		      <p class="card-text"><small class="text-muted">Colours: 
				      	
				      	<% fabric.colour.each do |colour| %>
				      		<%=colour %>
				      	<%end%>
			  </small></p>


<!--               Listing suitable for -->
		      <p class="card-text"><small class="text-muted">Suitable For: 
				      	
				      	<% fabric.suitable_for.each do |item| %>
				      		<%=item %>
				      	<%end%>
			  </small></p>


		    </div>
		  </div>
        </div>

    <% end %>



<!-- View Full Collection -->
<div id="button-group">
  </br></br>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
    Add Fabric to collection
  </button></br>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Fabric</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     


<!-- Form to add fabric -->
<%= form_with scope: :fabrics, url: new_fabrics_path, local: true do |form| %>
    <p>
      <%= form.label :fabric_name %>
  	  <%= form.text_field :fabric_name %></br>

      <%= form.label :fabric_description %>
  	  <%= form.text_field :fabric_description %></br>

      <%= form.label :purchased_from %>
  	  <%= form.text_field :purchased_from %></br>

      <%= form.label :meterage %>
  	  <%= form.select :meterage, (0..500) %></br></br>

    	<%= form.label "SELECT FIBRES" %></br>
		<%@fibres.each do |fibre|%>
		    <%= form.label fibre %>
			<%= form.check_box :fibre, {multiple: true}, fibre.to_s, nil %>
		<% end %></br></br>

    	<%= form.label "SELECT MAIN FABRIC COLOUR" %><br>
		<%@colours.each do |colour|%>
		    <%= form.label colour %>
			<%= form.check_box :colour, {multiple: true}, colour.to_s, nil %>		
		<% end %></br></br>

    	<%= form.label "SUITABLE FOR" %><br>
		<%@suitable_for.each do |item|%>
		    <%= form.label item %>
			<%= form.check_box :suitable_for, {multiple: true}, item.to_s, nil %>		
		<% end %></br></br>

      <%= form.label "PRINTED?" %>
      <%= form.check_box :printed %><br>


<!-- IMAGE UPLOADER -->
      <%= form.label "Upload an Image:"%></br>
    <%= form.file_field :image %></br>
<!-- IMAGE UPLOADER -->
	</p>
<!-- Form to add fabric -->
  </div>

      <div class="modal-footer">
      <!--   BUTTONS -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit "Add Fabric", class: "btn btn-primary" %>
        <!--   BUTTONS -->
        <% end %>  
      </div>
    </div>
  </div>
</div></br></br>


<!-- MODEL FOR UPLOAD FABRIC -->

</div>

